body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  background: linear-gradient(to right, #ee8bbf, rgb(82, 234, 133));  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}